/*
 
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent highlighting */
}

h2{
	float: left;
	font-size: 5vw;
	vertical-align: middle;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

paper-card.mapCard{
	width: 95%;
	color:white;
	--paper-card-header-color: white;
	margin: 10px;
	background: #005DAA;
}
.card-content{
	background:white;
	color: black;
}

paper-button.drawer{
	width: 98%;
}
